header{
    width: 60;
    margin: 0 auto;
}
  h1
    {
      padding: 2rem;
      color:white;
      margin: 2rem;
      text-align: center;
      background-color: black;
    border-radius: 50px;
    }
    h2
    {
      color: white;
      font-style: italic;
      text-align:left;
      margin: 40px;auto
    }
    img
    {
      margin: 20px auto;
      display: block;
      border-radius: 500px
    }

nav
  {
    font-style: italic;
    margin: 20px auto;
    color: blue
}
body{
  color: white;
  background-image:url("dark.jpg");
}
p{
  margin: 1rem;
  font-family: serif;

.box {

  padding: 100px;
  margin: 100px;
}
.container{
  text-align: center;
  margin top: 360px;
}
.btn{
  padding: 10px;
  font-size: 20px;
}
